<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spam or Ham</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h3>CHECK IF MESSAGE IS SPAM</h3>
    <form id="form-input">
        <input class="input-field" id="input-field" type="text" placeholder="Type message" size="60"> 
        <button class="button-17" role="button" id="check-button">Check</button>
        <p>This message is: <strong id="result"></strong></p>
    </form>
    <script src="../static/js/index.js"></script>
</body>
</html>